
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oloja Blog App | {{ errMsg }}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/global.css">
</head>
<body class="body">
    <div>
      <h1>{{ errMsg }}</h1>
      <h1>{{ exception}}</h1>
      <h1>{{ errName }}</h1>
      <h1>{{ statusCode }}</h1>
    </div>
</body>
<script src="../public/js/index.js"></script>
</html>
